nav {
    position: fixed;
    left: 0;
    right:0;
    top:0;
    border-bottom: solid 3px white;
    margin-bottom: 10px;
    background-color: #252f33;
    z-index: 300;
}

    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 5%;
    }

        nav ul li {
            list-style: none;
            padding: 10px;
            border-radius: 5px;
        }

    nav a {
        font-weight: 700;
        margin: 0 5px;
        color: navajowhite;
        text-decoration: none;
        font-family: Arial;
    }
