nav {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: solid 3px white;
    margin-bottom: 10px;
}

nav ul {
    margin-bottom: 10px;
}
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
        background-color: #252f33;
    }

    nav a {
        font-weight: 700;
        margin: 0 5px;
        color: navajowhite;
        text-decoration: none;
        font-family: Arial;
    }
