.items-container {
    margin: 5px;
    border-radius: 5px;
}

#itemsBought {
    padding-bottom: 25px;
    --item-background-color: #4FABA2;
}

#itemsToAdd {
    display: none;
    --item-background-color: lightblue;
}

#addItemInput {
    width: 96%;
    font-size: large;
    margin-left: 1%;
}
