.items-container {
    margin: 5px;
    border-radius: 5px;
}

#itemsToBuy .item {
    background-color: lightcoral;
}

#itemsBought {
    padding-bottom: 25px;
}

    #itemsBought .item {
        background-color: #4FABA2;
    }

#itemsToAdd {
    display: none;
}

    #itemsToAdd .item {
        background-color: lightblue;
    }

#addItemInput {
    width: 96%;
    font-size: large;
    margin-left: 1%;
}
