.item {
    font-family: Arial;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: white;
    font-size: larger;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
