body {
    opacity: 0;
    background-color: #2F3C42;
}

body.all-loaded {
    opacity: 100;
}

.centered, #main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.container, #main {
    overflow: scroll;
    width: 75%;
    height: 100%;
    padding-top: 100px;
}

::-webkit-scrollbar {
    width: 0px;
}
